<div class="menu-mobile">
    <div class="switch-mode">
        <div class="icon-dark"></div>
        <div class="switch"></div>
        <div class="icon-light"></div>
    </div>
    <div class="close-menu"></div>
    <ul>
        <li><a href="{{ site.baseurl }}/r/">R</a></li>
        <li><a href="{{ site.baseurl }}/ggplot2/">ggplot2</a></li>
        <li><a href="{{ site.baseurl }}/r/reference/">Reference</a></li>
        <li><a target="_blank" href="https://github.com/plotly/plotly.R">GitHub</a></li>
    </ul>
</div>
<div class="header-container">
    <header class="header-main --default">
        <div class="--wrap">
            <div class="--wrap-left">
                <div class="-identity">
                    <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/all_static/images/graphing_library_dark.svg"
                            style="height: 30px;" class="logo-dark"></a>
                    <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/all_static/images/graphing_library.svg"
                            style="height: 30px;" class="logo-white"></a>
                </div>
            </div>
            <div class="--wrap-right">
                <nav class="--nav-meta" role="navigation">
                    <ul>
                        <li class="languages">
                            {% assign language = page.language %}
                            {% if language == "r" %}
                            <a class="{{language}}">
                                <div class="icon"></div>
                                R
                            </a>
                            {% elsif language == "ggplot2" %}
                            <a class="{{language}}">
                                <div class="icon"></div>
                                ggplot2
                            </a>
                            {% else %}
                            <a class="{{language}}">
                                Libraries
                            </a>
                            {% endif %}

                            <ul>
                                <li>
                                    <a href="{{ site.baseurl }}/r/" class="r">
                                        <div class="icon"></div>R
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ site.baseurl }}/ggplot2/" class="ggplot2">
                                        <div class="icon"></div>ggplot2
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="{{ site.baseurl }}/r/reference/">Reference</a></li>
                        <iframe
                            src="https://ghbtns.com/github-btn.html?user=plotly&repo=plotly.R&type=star&count=true&size=large"
                            style="padding-top: 5px;" frameborder="0" scrolling="0" width="160px"
                            height="40px"></iframe>
                    </ul>
                    <div class="switch-mode">
                        <div class="icon-dark"></div>
                        <div class="switch"></div>
                        <div class="icon-light"></div>
                    </div>
                </nav>
            </div>
            <div class="menu-icon">
                <span></span><span></span><span></span>
            </div>
        </div>
    </header>
</div>
