{% if page.permalink == "/" %}
{% comment %} Hide sidebar on landing page {% endcomment %}
{% else %}

{% if page.url contains "ggplot2" %}
{% assign language = "ggplot2" %}
{% elsif page.url contains "r/" %}
{% assign language = "r" %}
{% endif %}

{% assign display_as = page.display_as %}

{% assign pages_list = site.posts | where:"language", language %}

{%- for page in pages_list -%}
{% if page.display_as == "chart_type" or page.display_as == "basic" %}
{% assign basic = true %}
{% elsif page.display_as == "file_settings" %}
{% assign file_settings = true %}
{% elsif page.display_as == "statistical" %}
{% assign statistical = true %}
{% elsif page.display_as == "scientific" %}
{% assign scientific = true %}
{% elsif page.display_as == "maps" %}
{% assign maps = true %}
{% elsif page.display_as == "financial_analysis" or page.display_as == "financial" %}
{% assign financial = true %}
{% elsif page.display_as == "3d_charts" %}
{% assign 3d_charts = true %}
{% elsif page.display_as == "ai_ml" %}
{% assign ai_ml = true %}
{% elsif page.display_as == "multiple_axes" %}
{% assign multiple_axes = true %}
{% elsif page.display_as == "controls" %}
{% assign controls = true %}
{% elsif page.display_as == "animations" %}
{% assign animations = true %}
{% elsif page.display_as == "style_opt" %}
{% assign style_opt = true %}
{% elsif page.display_as == "layout_opt" %}
{% assign layout_opt = true %}
{% elsif page.display_as == "advanced_opt" %}
{% assign advanced_opt = true %}
<!-- START OF GGPLOT CUSTOM LAYOUT -->
{% elsif page.display_as == "aesthetics" %}
{% assign aesthetics = true %}
{% elsif page.display_as == "geoms" %}
{% assign geoms = true %}
{% elsif page.display_as == "faceting" %}
{% assign faceting = true %}
{% elsif page.display_as == "other" %}
{% assign other = true %}
{% elsif page.display_as == "theme" %}
{% assign theme = true %}
<!-- END OF GGPLOT CUSTOM LAYOUT -->
{% endif %}
{%- endfor -%}

{% assign langue = page.language %}

<aside class="--sidebar-container">
    <div class="--sidebar-fixed reference" data-spy="affix" id="where">
        <div class="brand">
            <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/all_static/images/graphing_library.svg" style="height: 30px;"></a>
        </div>
        {% if page.permalink contains "r/" or page.permalink contains "ggplot2/" %}
        <button id="modal-button" type="button" data-toggle="modal" data-target="#myModal">
            <input id="modal-input" style="border-radius: 5px; width: 100%;" type="text" placeholder="   Search..."
                readonly />
        </button>
        {% endif %}

        {%if page.page_type == "reference" %}

        {% include layouts/reference-side-nav.html %}

        {% else %}

        <details style="color: white;margin-top: 20px;" {% if page.layout == "langindex" %} open {%endif %}>
            <summary>Quick Reference</summary>
            <nav class="--sidebar-body watch" id="where">
                <ul class="--sidebar-list" style="margin-left: 15px;">
                    <!-- Getting Started -->
                    {% if langue.size > 0 %}
                    <li class="--sidebar-item">
                        <a href="{{ site.baseurl }}/{{ langue }}/getting-started" class="js-splash--navigation-item">Getting Started</a>
                    </li>
                    {% endif %}

                    <!-- Reference Pages -->
                    {% if page.language == "r" %}
                    <li class="--sidebar-item">
                        <a href="{{ site.baseurl }}/r/reference/index/" class="js-splash--navigation-item">Figure Reference</a>
                    </li>
                    {% endif %}

                    <!-- R Specific -->
                    {% if page.language == "r"%}
                    <li class="--sidebar-item">
                        <a href="{{ site.baseurl }}/ggplot2/" class="js-splash--navigation-item">ggplot2 integration</a>
                    </li>
                    {% endif %}

                    <!-- ggplot2 Specific -->
                    {% if page.language == "ggplot2"%}
                    <li class="--sidebar-item">
                        <a href="{{ site.baseurl }}/r/" class="js-splash--navigation-item">Plotly R library</a>
                    </li>
                    {% endif %}

                    <!-- Github Links -->
                    <li class="--sidebar-item">
                        <a target="_blank" href="https://github.com/plotly/plotly.R"
                            class="js-splash--navigation-item">GitHub</a>
                    </li>

                    <li class="--sidebar-item">
                        <a target="_blank" href="http://community.plotly.com/"
                            class="js-splash--navigation-item">Community Forum</a>
                    </li>

                </ul>
            </nav>
        </details>

        {% if page.layout == "langindex" and langue.size > 0 %}

        <!-- Examples start -->
        <details style="color: white;margin-top: 20px;" open>
            <summary>Examples</summary>
            <nav class="--sidebar-body watch" id="where">
                <ul class="--sidebar-list" style="margin-left: 15px;">
                    {% if file_settings == true %}
                    <li class="--sidebar-item">
                        <a href="{{ site.baseurl }}/{{langue}}/plotly-fundamentals/" class="js-splash--navigation-item">Fundamentals</a>
                    </li>
                    {% endif %}

                    {% if basic == true %}
                    <li class="--sidebar-item">
                        <a href="{{ site.baseurl }}/{{langue}}/basic-charts/" class="js-splash--navigation-item">Basic Charts</a>
                    </li>
                    {% endif %}

                    {% if statistical == true %}
                    <li class="--sidebar-item">
                        <a href="{{ site.baseurl }}/{{langue}}/statistical-charts/" class="js-splash--navigation-item">Statistical
                            Charts</a>
                    </li>
                    {% endif %}

                    {% if scientific == true %}
                    <li class="--sidebar-item">
                        <a href="{{ site.baseurl }}/{{langue}}/scientific-charts/" class="js-splash--navigation-item">Scientific
                            Charts</a>
                    </li>
                    {% endif %}

                    {% if financial == true %}
                    <li class="--sidebar-item">
                        <a href="{{ site.baseurl }}/{{langue}}/financial-charts/" class="js-splash--navigation-item">Financial Charts</a>
                    </li>
                    {% endif %}

                    {% if maps == true %}
                    <li class="--sidebar-item">
                        <a href="{{ site.baseurl }}/{{langue}}/maps/" class="js-splash--navigation-item">Maps</a>
                    </li>
                    {% endif %}

                    {% if ai_ml == true %}
                    <li class="--sidebar-item">
                        <a href="{{ site.baseurl }}/{{langue}}/ai-ml/" class="js-splash--navigation-item">AI and ML</a>
                    </li>
                    {% endif %}

                    {% if 3d_charts == true %}
                    <li class="--sidebar-item">
                        <a href="{{ site.baseurl }}/{{langue}}/3d-charts/" class="js-splash--navigation-item">3D Charts</a>
                    </li>
                    {% endif %}

                    {% if multiple_axes == true %}
                    <li class="--sidebar-item">
                        <a href="{{ site.baseurl }}/{{langue}}/subplot-charts/" class="js-splash--navigation-item">Subplots</a>
                    </li>
                    {% endif %}

                    {% if animations == true %}
                    <li class="--sidebar-item">
                        <a href="{{ site.baseurl }}/{{langue}}/#animations" class="js-splash--navigation-item">Animations</a>
                    </li>
                    {% endif %}

                    {% if advanced_opt == true %}
                    <li class="--sidebar-item">
                        <a href="{{ site.baseurl }}/{{langue}}/#advanced-options" class="js-splash--navigation-item">Advanced</a>
                    </li>
                    {% endif %}

                    {% if style_opt == true %}
                    <li class="--sidebar-item">
                        <a href="{{ site.baseurl }}/{{langue}}/#style-options" class="js-splash--navigation-item">Style Options</a>
                    </li>
                    {% endif %}

                    {% if layout_opt == true %}
                    <li class="--sidebar-item">
                        <a href="{{ site.baseurl }}/{{langue}}/#layout-options" class="js-splash--navigation-item">Layout Options</a>
                    </li>
                    {% endif %}

                    <!-- START OF GGPLOT CUSTOM LAYOUT -->
                    {% if aesthetics == true %}
                    <li class="--sidebar-item">
                        <a href="#aes" class="js-splash--navigation-item">Aesthetics</a>
                    </li>
                    {% endif %}

                    {% if geoms == true %}
                    <li class="--sidebar-item">
                        <a href="#geoms" class="js-splash--navigation-item">Geoms</a>
                    </li>
                    {% endif %}

                    {% if faceting == true %}
                    <li class="--sidebar-item">
                        <a href="#faceting" class="js-splash--navigation-item">Faceting</a>
                    </li>
                    {% endif %}

                    {% if other == true %}
                    <li class="--sidebar-item">
                        <a href="#other" class="js-splash--navigation-item">Other</a>
                    </li>
                    {% endif %}

                    {% if theme == true %}
                    <li class="--sidebar-item">
                        <a href="#theme" class="js-splash--navigation-item">Theme</a>
                    </li>
                    {% endif %}
                    <!-- END OF GGPLOT CUSTOM LAYOUT -->

                </ul>
            </nav>
        </details>
        {% else %}

        <details style="color: white;margin-top: 20px;" open>
            <summary>On This Page</summary>
            <nav class="--sidebar-body watch" id="where">
            <ul class="--sidebar-list" id="nav_header_insertion_list"></ul>
            </nav>
        </details>

        {% endif %}
        {% endif %}
    </div>

</aside>

{% endif %}
